html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.card-img-top {
    height: 200px; /* ??t chi?u cao c? ??nh */
    object-fit: cover; /* C?t ?nh ?? v?a khung */
}

